body{
    font-family: 'DM Serif Display', serif;
    background-image: url(moon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
}

.head  h2{
    color: rgb(255, 255, 255);
    font-size: 27px;
    letter-spacing: 3px;
    font-family: 'Protest Strike', sans-serif;
}

input{
    width: 70%;
    height: 20px;
}

.main{
    text-align: center;
    margin-top: 200px;
    border: 2px solid black;
    border-radius: 10px;
    padding:  20px 50px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    overflow-y: auto;
    height: 200px;
    box-shadow: 3px 4px 5px 2px black;
}

.main::-webkit-scrollbar{
    display: none;
}

li{
    color: aliceblue;
    margin-top: 20px;
    list-style: none;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 900;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

#add-button{
    background-color: rgb(0, 68, 255);
    color: aliceblue;
    padding: 4px 7px 4px 7px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}

#delete-button{
    background-color: rgb(180, 0, 0);
    padding: 0px 8px 0px 8px;
    color: aliceblue;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
}

li > button{
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    font-size: 15px;
    border: none;
    border-radius: 4px;
}